.about {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    @include media(576){
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .container{
        position: relative;
    }

    &-decoration {
        position: absolute;
        left: 78%;
        top: 53%;
        transform: translate(0, -50%);
        @include media(1700){
            left: 64%;
        }
        @include media(1200){
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2.6875rem;
        max-width: 75%;
        padding-top: 2.9167rem;
        @include media(1700){
            max-width: 60%;
        }
        @include media(1200){
            max-width: 100%;
        }
        @include media(576){
            padding-top: 45px;
            gap: 35px;
        }
    }

    &__item {
        p {
            font-size: 24px;
            line-height: 120%;
            @include media(1400){
                font-size: 20px;
            }
            @include media(576){
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    &__button {
        padding-top: 3.875rem;
    }
}

.about-secondary{
    position: relative;
    padding-top: 130px;
    padding-bottom: 130px;
    width: 100%;
    overflow: hidden;

    .about__list{
        @include media(1700){
            max-width: 65%;
        }
    }
}

.about-course {
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    padding: 130px 0;

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.2;
        }
    }

    &__headline {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    &__text {
        p {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 0;
            max-width: 933px;
        }
    }
}

.privilege {
    position: relative;
    padding-top: 130px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2.6875rem;
        padding-top: 70px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 30px;
        p {
            font-size: 28px;
            line-height: 120%;        
        }
    }
} 

.decorative {

    &__headline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        text-align: center;
        h2 {
            font-size: 120px;
            line-height: 136px;
            @extend CirceExtraBold;
            @include media(1400){
                font-size: 96px;
                line-height: 120%;
            }
        }
    }

    &__title_2 {
        h2 {
            text-transform: uppercase;
            color: transparent;
            white-space: nowrap;
            -webkit-text-stroke: 2px $white;
        }
    }
} 