.about {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;

    &-decoration {
        position: absolute;
        right: 2%;
        top: 60%;
        transform: translate(0, -50%);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2.6875rem;
        max-width: 75%;
        padding-top: 2.9167rem;
        @include media(1600){
            max-width: 60%;
        }
    }

    &__item {
        p {
            font-size: 24px;
            line-height: 120%;
            @include media(1400){
                font-size: 20px;
            }
        }
    }

    &__button {
        padding-top: 3.875rem;
    }
}
