.about {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;

    .container{
        position: relative;
    }

    &-decoration {
        position: absolute;
        left: 78%;
        top: 53%;
        transform: translate(0, -50%);
        @include media(1700){
            left: 64%;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2.6875rem;
        max-width: 75%;
        padding-top: 2.9167rem;
        @include media(1700){
            max-width: 60%;
        }
    }

    &__item {
        p {
            font-size: 24px;
            line-height: 120%;
            @include media(1400){
                font-size: 20px;
            }
        }
    }

    &__button {
        padding-top: 3.875rem;
    }
}


.about-secondary{
    position: relative;
    padding-top: 130px;
    padding-bottom: 130px;

    .about__list{
        @include media(1700){
            max-width: 65%;
        }
    }

    .button__primary{
        padding: 0.6rem 2.5rem;
    }
}

.about-course {
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    padding: 130px 0;

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.2;
        }
    }

    &__headline {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    &__text {
        p {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 0;
            max-width: 933px;
        }
    }
}
.advantages {
    position: relative;
    padding: 130px 0;

    &__row {
        display: flex;
        gap: 35px;
        margin-top: 68px;
        @include media(1400){
            margin-top: 32px;
        }
    }

    &__col {
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        max-width: 454px;

        @include media(1400){
            gap: 20px;
            padding: 40px;
        }

        &-title {
            h6 {
                font-size: 28px;
                line-height: 30px;
            }
        }

        &-text {
            p {
                font-size: 20px;
                line-height: 33px;
                color: #CACACA;
                @include media(1400){
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }

        &-icon {
            max-height: 3rem;
            max-width: 3rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.privilege {
    position: relative;
    padding: 0 0 130px 0;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2.6875rem;
        padding-top: 3.2083rem;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        p {
            font-size: 1rem;
            line-height: 1.1875rem;
        }
    }
}
