.advantages {
    position: relative;
    padding-top: 130px;
    @include media(768){
        padding: 45px 0 0 0;
    }

    &__title{
        @include media(768){
            display: none;
        }
    }

    &__row {
        display: flex;
        gap: 35px;
        margin-top: 68px;
        @include media(1400){
            margin-top: 32px;
        }
        @include media(992){
            flex-direction: column;
        }
    }

    &__col {
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        max-width: 454px;

        @include media(1400){
            gap: 20px;
            padding: 40px;
        }

        @include media(992){
            width: 100%;
            max-width: 100%;
        }

        &-title {
            h6 {
                font-size: 28px;
                line-height: 30px;
                @include media(576){
                    font-size: 20px;
                    line-height: 22px;
                }
            }
        }

        &-text {
            p {
                font-size: 20px;
                line-height: 33px;
                color: #CACACA;
                @include media(1400){
                    font-size: 18px;
                    line-height: 28px;
                }
                @include media(576){
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }

        &-icon {
            max-height: 3rem;
            max-width: 3rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}