.banner {
    position: relative;
    height: 100vh;
    isolation: isolate;
    color: #fff;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(90deg, #0C0C0E38 0%, rgba(0, 0, 0, 0) 98.47%);
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 57.14%, #0C0C0E 100%);
    }

    &__container {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -3;
        line-height: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @include media(992){
            height: 100vh;
        }
        picture{
            display: block;
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            line-height: 0;
        }
    }

    &-decoration {
        position: absolute;
        bottom: -3rem;
        left: 0;
        width: 100%;
        height: 195px;
    }

    &__title {
        @include media(992){
            margin-left: auto;
            margin-right: auto;
        }
        h1{
            font-size: 92px;
            line-height: 115.4%;
            @extend CirceExtraBold;
            span {
                color: $primary;
                @extend CirceExtraBold;
            }
            @include media(1200){
                font-size: 76px;
            }
            @include media(992){
                font-size: 56px;
                text-align: center;
            }
            @include media(768){
                font-size: 48px;
            }
            @include media(576){
                font-size: 40px;
            }
        }
        h2 {
            font-size: 92px;
            line-height: 115.4%;
            @extend CirceBold;
            @include media(1200){
                font-size: 76px;
            }
            @include media(992){
                font-size: 56px;
                text-align: center;
            }
            @include media(768){
                font-size: 48px;
            }
            @include media(576){
                font-size: 40px;
            }
        }
    }

    &__progress {
        position: absolute;
        bottom: 30px;
        width: 100%;
        z-index: 3;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        gap: 80px;
        position: relative;
        @include media(992){
            display: none;
        }
    }

    &__item {
        width: fit-content;

        p {
            font-size: 20px;
            line-height: 120%;
            width: 100%;
            @include media(1200){
                font-size: 16px;
            }

            span {
                color: $primary;
            }
        }
    }

    &-sm{
        display: none;
        @include media(992){
            display: block;
        }
        &__body{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }
        &__item{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-svg{
                min-width: 45px;
            }
            &-p{
                font-size: 16px;
                line-height: 19px;
                span{
                    color: #FF0000;
                }
            }
        }
    }
}