.footer-deskription {
    padding: 130px 0;
    @include media(576){
        padding: 70px 0 0 0;
    }

    .container {
        display: flex;
        gap: 70px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include media(576){
            gap: 40px;
        }
    }

    &__logo{
        @include media(576){
            display: none;
        }
        &.sm{
            display: none;
            @include media(576){
                display: block;
            }
        }
    }

    &__title {
        h2 {
            font-size: 2.6667rem;
            line-height: 92%;
            text-align: center;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            @extend CirceBold;
            @include media(576){
                font-size: 28px;
                max-width: 300px;
            }
        }
    }
}