.leave {
    position: relative;
    width: 100%;
    padding: 130px 0;
    @include media(576){
        padding: 70px 0 0 0;
    }

    &__title{
        display: none;
        @extend CirceBold;
        @include media(1200){
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: 56px;
            line-height: 120%;
            color: #FF0000;
            margin-bottom: 45px;
        }
        @include media(576){
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 20px;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    &__content {
        position: relative;
        width: 90%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    &__text {
        font-size: 28px;
        line-height: 41px;
        margin-bottom: 0;
        padding: 60px 0;
        color: $white;
        width: 58%;
        @extend CirceBold;
        @include media(1400){
            font-size: 22px;
            line-height: 160%;
            max-width: 550px;
            padding: 40px 0;
        }
        @include media(768){
            width: 80%;
        }
        @include media(576){
            font-size: 16px;
            line-height: 19px;
            padding: 20px 0;
        }

        span {
            color: $primary;
            @extend CirceBold;
            @include media(576){
                color: #fff;
            }
        }
    }

    &__item {
        font-size: 42px;
        line-height: 62px;
        color: $primary;
        opacity: 0;
        transition: .5s;
        @extend CirceBold;
        @include media(1400){
            font-size: 34px;
            line-height: 140%;
        }
        @include media(1200){
            display: none;
        }
    }

    &__link {
        transition: 1s;
        padding: 0 80px;
        border: 1px solid transparent;
        @include media(1200){
            padding: 0 20px; 
        }
        @include media(576){
            width: calc(112%);
            margin-left: -6%;
            margin-right: -6%;
        }

        a {
            display: flex;
            gap: 5rem;
            justify-content: space-around; 
            align-items: center;
            @include media(1400){
                gap: 30px;
            }
            @include media(768){
                justify-content: space-between;
            }
        }

        img {
            transition: .5s;
            opacity: 0;
            @include media(768){
                width: 40px;
            }
        }
    }

    &__link.active {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        position: relative;
        cursor: pointer;
        backdrop-filter: blur(8px);

        .leave__item {
            opacity: 1;
            transition: .5s;
        }

        img {
            transition: .5s;
            opacity: 1;
        }
    }
} 