.learn-more {
    position: relative;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        position: relative;
    }

    &__even {
        flex-basis: 45%;
        max-width: 45%;
        @include media(992){
            position: absolute;
            bottom: 0;
            left: 15px;
        }
        @include media(576){
            left: calc(50% - 120px);
            // transform: translateX(-20%);
        }
    }

    &__odd {
        flex-basis: 55%;
        max-width: 55%;
        @include media(992){
            flex-basis: 100%;
            max-width: 100%;
            padding-bottom: 120px;
        }
        @include media(576){
            padding-bottom: 60px;
        }
    }

    &__img {
        animation: slide-top 2s linear infinite alternate both;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(992){
            width: 150px;
        }
        @include media(576){
            width: 100px;
        }
        picture{
            max-width: 100%;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img{
            max-width: 100%;
            max-height: 100%;
            max-height: calc(100vh - 150px);
        }
    }

    &__title {
        margin-bottom: 30px;
    }

    &__button {
        padding-bottom: 2.9063rem;
        @include media(992){
            padding-bottom: 46px;
        }
        @include media(576){
            display: flex;
            justify-content: center;
        }
    }

    &__scroll-down {
        display: flex;
        gap: 48px;
        height: 5.125rem;
        position: relative;
        @include media(992){
            margin-left: 220px;
        }
        @include media(576){
            margin-left: 50%;
        }

        &::before {
            animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
            position: absolute;
            top: 0px;
            left: 4.6px;
            width: 2px;
            height: 5.125rem;
            background: $white;
            content: ' ';
        }

        span {
            font-size: 24px;
        }
    }

    &__arrow {
        width: 0;
        position: relative;

        &:after {
            position: absolute;
            bottom: 0;
            left: 1px;
            content: '';
            display: block;
            margin: 0;
            padding: 0;
            width: 10px;
            height: 10px;
            border-top: 2px solid $white;
            border-right: 2px solid $white;
            transform: rotate(135deg);
        }
    }
}