mixin about-secondary()
    <section class="about about-secondary" id="aboutSecondary">
        <div class="container">
            <div class="decoration-gradient-third">
                <img src="img/decoration.png" alt="" draggable="false">
            </div>
            <div class="about__title">
                <h2 class="main-title"><span>Кто</span> такие трейдеры ?</h2>
            </div>
            <div class="about__list">
                <div class="about__item approved_item" style="opacity: 0.9832;">
                    <p>Трейдер — это одна из самых востребованных профессий в современном мире.</p>
                </div>
                <div class="about__item approved_item" style="opacity: 0.8958;">
                    <p>Человек, занимающийся трейдингом, проводит анализ ситуации на финансовом рынке, а затем покупает и продает активы. Разница цен — это заработок трейдера.</p>
                </div>
                <div class="about__item approved_item" style="opacity: 0.7269;">
                    <p>С каждым годом сфера трейдинга набирает обороты и сегодня без нее нельзя представить банковскую сферу,&nbsp; IT и продажи.&nbsp;</p>
                </div>
                <div class="about__item approved_item" style="opacity: 0.4803;">
                    <p>Большим преимуществом профессии является то, что ее можно совмещать с основной работой либо погрузиться в нее и сделать делом всей жизни.
                    </p>
                </div>
            </div>
            <div class="about__button">
                <a href="#recording" class="button__primary">Хочу так же ! </a>
            </div>
            <div class="decoration-course-second">
                <img src="img/about-course-decoration-2.png" alt="" draggable="false">
            </div>
            <div class="decoration-course-fourth decoration" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                <img src="img/about-course-decoration-4.png" alt="" draggable="false">
            </div>
        </div>
    </section>