mixin about-course()
    <section class="about-course" id="aboutCourse">
        <div class="about-course__img">
            <img src="img/about-course.jpg" alt="" draggable="false">
        </div>
        <div class="container">
            <div class="about-course__headline">
                <div class="about-course__title">
                    <h2 class="main-title">О <span>курсе</span></h2>
                </div>
                <div class="about-course__text approved_item">
                    <p>Созданный профессионалами в сфере трейдинга, курс от SigOne® вобрал в себя максимум информации, основанной на собственном опыте.</p>
                </div>
                <div class="about-course__text approved_item">
                    <p>Основная цель курса — обучить новое поколение успешных трейдеров с 0 до высокого уровня, а главное — с возможностью трудоустройства самых талантливых студентов.</p>
                </div>
            </div>
        </div>
    </section>