mixin advantages()
    <section class="advantages" id="advantages">
        <div class="container">
            <div class="advantages__title">
                <h2 class="main-title">НАШИ <span>ПРЕИМУЩЕСТВА</span> :</h2>
            </div>
            <div class="advantages__row">
                <div class="advantages__col">
                    <div class="advantages__col-icon">
                        <img src="img/advantages-icon-1.svg" alt="" draggable="false">
                    </div>
                    <div class="advantages__col-title">
                        <h6>Авторский курс&nbsp;</h6>
                    </div>
                    <div class="advantages__col-text">
                        <p>Курс был составлен успешными трейдерами с опытом работы более 5 лет. Никакой воды — только максимум пользы</p>
                    </div>
                </div>
                <div class="advantages__col">
                    <div class="advantages__col-icon">
                        <img src="img/advantages-icon-2.svg" alt="" draggable="false">
                    </div>
                    <div class="advantages__col-title">
                        <h6>Качество занятий&nbsp;</h6>
                    </div>
                    <div class="advantages__col-text">
                        <p>Все лекции спикеров были прослушаны старшими коллегами, улучшены и дополнены для максимальной эффективности занятий</p>
                    </div>
                </div>
                <div class="advantages__col">
                    <div class="advantages__col-icon">
                        <img src="img/advantages-icon-3.svg" alt="" draggable="false">
                    </div>
                    <div class="advantages__col-title">
                        <h6>Работающая стратегия</h6>
                    </div>
                    <div class="advantages__col-text">
                        <p>Мы не учим «играть» на бирже. Наша цель — научить вас анализировать, строить работающую стратегию и успешно торговать на бирже</p>
                    </div>
                </div>
            </div>
        </div>
    </section>