mixin banner()
    <section class="banner" id="banner">
        <div class="banner__img">
            <img src="img/banner.jpg" alt="" draggable="none">
        </div>
        <div class="banner__container container">
            <div class="banner__title">
                <h1><span>Sig</span>One.</h1>
                <h2>Мы в поисках людей <br> с амбициями!</h2>
            </div>
        </div>
        <div class="banner__progress" id="promoProgress">
            <div class="container">
                <div class="banner__list">
                    <div class="banner__item">
                        <p><span>Улучши навыки</span><br>или начни с нуля! Мы будем рядом на любом этапе развития.</p>
                    </div>
                    <div class="banner__item">
                        <p><span>Инвестируй в знания!</span><br>Пройди обучение и стань профессиональным трейдером.</p>
                    </div>
                    <div class="banner__item">
                        <p><span>Достигай успеха вместе с нами!</span><br>Сдай экзамен и начни совершать сделки не вкладываясвои деньги.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>