mixin course-banner()
    <section class="course-banner" id="courseBanner">
        <div class="container">
            <div class="course-banner__content">
                <div class="course-banner__even">
                    <div class="course-banner__title">
                        <h2>Стань <span>успешным</span> трейдером!! </h2>
                    </div>
                    <div class="course-banner__text">
                        <p>Освой профессию трейдера с нуля <br> и начни зарабатывать, занимаясь любимым делом.</p>
                    </div>
                    <div class="course-banner__button">
                        <a href="#recording" class="button__primary">Оставить заявку</a>
                        <div class="course-banner__button-item"><span>- 15%</span> скидка до 1 мая</div>
                    </div>
                </div>
                <div class="course-banner__odd">
                    <div class="course-banner__img remove-picture">
                        <img src="files/banner.gif" alt="" draggable="false">
                    </div>
                </div>
            </div>
        </div>
    </section>