mixin decorative()  
    <section class="decorative" id="decorative">
        <div class="decorative__headline">
            <div class="decorative__title decorative__title_1">
                <h2>Стань</h2>
            </div>
            <div class="decorative__title decorative__title_2">
                <h2>профессиональным </h2>
            </div>
            <div class="decorative__title decorative__title_3">
                <h2>трейдером.</h2>
            </div>
        </div>
    </section>