mixin education()   
    <section class="education" id="education">
        <div class="container">
            <div class="education__title">
                <h2 class="main-title">Как проходит <br><span>обучение?</span></h2>
            </div>
            <div class="education__content">
                <div class="education__even">
                    <div class="education__about">
                        <div class="education__about-item">
                            <div class="education__about-number">
                                <span>3</span>
                            </div>
                            <div class="education__about-text">
                                <span>Раза в неделю</span>
                            </div>
                        </div>
                        <div class="education__about-item">
                            <div class="education__about-number">
                                <span>2</span>
                            </div>
                            <div class="education__about-text">
                                <span>часа урок</span>
                            </div>
                        </div>
                        <div class="education__about-item">
                            <div class="education__about-number">
                                <span>1.5</span>
                            </div>
                            <div class="education__about-text">
                                <span>месяца</span>
                            </div>
                        </div>
                        <div class="education__about-item">
                            <div class="education__about-number">
                                <span>15</span>
                            </div>
                            <div class="education__about-text">
                                <span>человек в группе</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="education__redline-img-first">
                <img src="img/education-decoration-3.png" alt="">
            </div>
            <div class="education__redline-img-second">
                <img src="img/education-decoration-2.png" alt="">
            </div>
            <div class="education__redline-img-third">
                <img src="img/education-decoration-1.png" alt="">
            </div>
            <div class="education__redline">
                <div class="education__redline-img">
                    <img src="img/education-decoration.png" alt="">
                </div>
                <div class="education__redline-title">
                    <span>Будь первым !</span>
                </div>
                <div class="education__redline-text">
                    <span>Лучший студент получает привелегии</span>
                </div>
            </div>
        </div>
        <div class="education__bottom">
            <ul class="education__bottom-list">
                <li class="education__bottom-item">Офлайн формат</li>
                <li class="education__bottom-item">Получение сертификата</li>
                <li class="education__bottom-item">Экзамен по окончанию курса</li>
                <li class="education__bottom-item">Утренняя или дневная группа</li>
            </ul>
        </div>
    </section>