mixin footer()
    <footer class="footer">
        <div class="container">
            <a class="footer__anchore" href="#banner">
                <svg width="19" height="26" viewBox="0 0 19 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.64844 3.31934L9.64843 24.6416" stroke="white" stroke-width="2.66528" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M17.6445 11.3148L10.1946 2.24992C10.1264 2.16708 10.0425 2.10073 9.9485 2.05528C9.8545 2.00983 9.75255 1.98633 9.64942 1.98633C9.5463 1.98633 9.44435 2.00983 9.35035 2.05528C9.25636 2.10073 9.17247 2.16708 9.10425 2.24992L1.65286 11.3148" stroke="white" stroke-width="2.66528" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
            <div class="footer__row">
                <div class="footer__col">
                    <div class="footer__title">
                        <h6>Свяжитесь с нами</h6>
                    </div>
                    <div class="footer__phone">
                        <a href="tel:+998900917887" class="footer__text">+998 90 091 7887</a>
                        <a href="tel:+998900917887" class="footer__text">+998 90 092 7887</a>
                    </div>
                    <div class="footer__email">
                        <a href="mailto:admin@sigoneacademy.com" class="footer__text">admin@sigoneacademy.com</a> 
                    </div>
                    <div class="footer__address">
                        <span class="footer__text">Узбекистан, Ташкент,</span>
                        <span class="footer__text">ул. Шота Руставели, хх</span>
                    </div>
                </div>
                <div class="footer__col">
                    <div class="footer__title">
                        <h6>Разделы</h6>
                    </div>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__text">SigOne</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">О курсе</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">Спикеры</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">Программа</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <div class="footer__title">
                        <h6>Права</h6>
                    </div>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__text">Лицензия</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">Свидетельство</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">Страховой полис</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <div class="footer__title">
                        <h6>Быстрые ссылки</h6>
                    </div>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__text">Кто такие трейдеры</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">Привелегии для лучших студентов</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__location">
                <div class="footer__phone-number">
                    <img src="img/icon-phone.svg" alt="">
                    <a href="tel:+998901234567">+99890 123 45 67</a>
                </div>
                <div class="footer__map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A33358647c88175bedb2ed51cebfb971489a43b4eec21a45ed1c19c06c4cd11d4&amp;source=constructor" width="660" height="220" frameborder="0"></iframe>
                </div>
            </div>
            <div class="footer__logo">
                <a href="#">
                    <img src="img/footer-logo.svg" alt="">
                </a>
            </div>
            <div class="footer__copirayt">
                <span>87687687698798798 страховка</span>
            </div>
        </div>
    </footer>
    .popup#popup
        .popup__overlay.popup-close 
        .popup__body 
            .popup__close.popup-close
                <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="17" fill="white"/>
                <path d="M18.4666 16.6174L24.5522 10.5317C24.6724 10.3913 24.7353 10.2107 24.7281 10.0259C24.721 9.84116 24.6444 9.6659 24.5137 9.53516C24.3829 9.40442 24.2077 9.32783 24.0229 9.3207C23.8382 9.31356 23.6575 9.37641 23.5171 9.49667L17.4315 15.5823L11.3459 9.48933C11.2076 9.3511 11.0202 9.27344 10.8247 9.27344C10.6292 9.27344 10.4417 9.3511 10.3035 9.48933C10.1652 9.62756 10.0876 9.81504 10.0876 10.0105C10.0876 10.206 10.1652 10.3935 10.3035 10.5317L16.3964 16.6174L10.3035 22.703C10.2266 22.7688 10.1642 22.8498 10.1202 22.9408C10.0761 23.0319 10.0513 23.1311 10.0474 23.2322C10.0435 23.3333 10.0606 23.4341 10.0975 23.5283C10.1344 23.6225 10.1903 23.7081 10.2619 23.7796C10.3334 23.8512 10.419 23.9071 10.5132 23.944C10.6074 23.981 10.7082 23.998 10.8093 23.9941C10.9104 23.9902 11.0096 23.9654 11.1007 23.9214C11.1917 23.8773 11.2727 23.8149 11.3385 23.738L17.4315 17.6524L23.5171 23.738C23.6575 23.8583 23.8382 23.9211 24.0229 23.914C24.2077 23.9069 24.3829 23.8303 24.5137 23.6995C24.6444 23.5688 24.721 23.3935 24.7281 23.2088C24.7353 23.024 24.6724 22.8434 24.5522 22.703L18.4666 16.6174Z" fill="#FF0000"/>
                </svg>
            .popup__left 
                .popup__img 
                    img(src="@img/course-banner.png", alt="" draggable="false")
            form(action="#").popup__right 
                p.popup__title Оставь заявку<br> на <span>открытый урок</span>
                label(for="popupName").popup__label Полное Имя
                input(type="text" placeholder="Полное Имя" id="popupName").popup__input
                label(for="popupEmail").popup__label Email 
                input(type="text" placeholder="Email" id="popupEmail").popup__input
                label(for="popupPhone").popup__label Номер телефона
                input(type="text" placeholder="Номер телефона" id="popupPhone").popup__input
                button(type="submit").popup__btn Отправить