mixin footer-description()
    <section class="footer-deskription" id="footerDeskription">
        <div class="container">
            <div class="footer-deskription__logo">
                <img src="img/footer-deskription-logo.svg" alt="" draggable="false">
            </div>
            <div class="footer-deskription__title">
                <h2>Успех нового поколения</h2>
            </div>
        </div>
    </section>