mixin footer()
    <footer class="footer">
        <div class="container">
            <a class="footer__anchore" href="#banner">
                <svg width="19" height="26" viewBox="0 0 19 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.64844 3.31934L9.64843 24.6416" stroke="white" stroke-width="2.66528" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M17.6445 11.3148L10.1946 2.24992C10.1264 2.16708 10.0425 2.10073 9.9485 2.05528C9.8545 2.00983 9.75255 1.98633 9.64942 1.98633C9.5463 1.98633 9.44435 2.00983 9.35035 2.05528C9.25636 2.10073 9.17247 2.16708 9.10425 2.24992L1.65286 11.3148" stroke="white" stroke-width="2.66528" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
            <div class="footer__row">
                <div class="footer__col">
                    <div class="footer__title">
                        <h6>Свяжитесь с нами</h6>
                    </div>
                    <div class="footer__phone">
                        <a href="tel:+998900917887" class="footer__text">+998 90 091 7887</a>
                        <a href="tel:+998900917887" class="footer__text">+998 90 092 7887</a>
                    </div>
                    <div class="footer__email">
                        <a href="#" class="footer__text">mailto:admin@sigoneacademy.com</a> 
                    </div>
                    <div class="footer__address">
                        <span class="footer__text">Узбекистан, Ташкент,</span>
                        <span class="footer__text">ул. Шота Руставели, хх</span>
                    </div>
                </div>
                <div class="footer__col">
                    <div class="footer__title">
                        <h6>Разделы</h6>
                    </div>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__text">SigOne</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">О курсе</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">Спикеры</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">Программа</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <div class="footer__title">
                        <h6>Права</h6>
                    </div>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__text">Лицензия</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">Свидетельство</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">Страховой полис</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col">
                    <div class="footer__title">
                        <h6>Быстрые ссылки</h6>
                    </div>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__text">Кто такие трейдеры</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__text">Привелегии для лучших студентов</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__location">
                <div class="footer__phone-number">
                    <img src="img/icon-phone.svg" alt="">
                    <a href="tel:+998901234567">+99890 123 45 67</a>
                </div>
                <div class="footer__map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A33358647c88175bedb2ed51cebfb971489a43b4eec21a45ed1c19c06c4cd11d4&amp;source=constructor" width="660" height="220" frameborder="0"></iframe>
                </div>
            </div>
            <div class="footer__logo">
                <a href="#">
                    <img src="img/footer-logo.svg" alt="">
                </a>
            </div>
            <div class="footer__copirayt">
                <span>87687687698798798 страховка</span>
            </div>
        </div>
    </footer>