mixin header()
    header.header 
        .container
            <a href="index.html#banner" class="header__logo">
                <img src="img/nav-logo.svg" alt="" draggable="false">
            </a>
            <div class="header__left">
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="about.html#aboutSecondary">О трейдерах</a>
                        </li>
                        <li class="header__item">
                            <a href="about.html#banner">о курсе</a>
                        </li>
                        <li class="header__item">
                            <a href="about.html#trainingProgram">программа</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__button">
                    <a href="about.html#recording" class="button__primary">Записаться на курс</a>
                </div>
                <div class="header__language">
                    <ul class="header__list">
                        <li class="header__item">
                            <a class="language__active" href="#">рус</a>
                        </li>
                        <li class="header__item">
                            <a href="#">узб</a>
                        </li>
                    </ul>
                </div>
            </div>
            button.header__btn 
                span.header__btn-line
        .header__menu 
            .container 
                button.header__btn 
                    span.header__btn-line
                p.header__menu-title Навигация
                a(href="about.html#aboutSecondary").header__menu-link О трейдерах
                a(href="about.html#banner").header__menu-link О курсе
                a(href="about.html#trainingProgram").header__menu-link Программа
