mixin learn-more()
    <section class="learn-more" id="learnMore">
        <div class="container">
            <div class="learn-more__even">
                <div class="learn-more__img">
                    <img src="img/learn-more.png" alt="" draggable="false">
                </div>
            </div>
            <div class="learn-more__odd">
                <div class="learn-more__title">
                    <h2 class="main-title">ХОЧЕШЬ УЗНАТЬ <span>БОЛЬШЕ?</span></h2>
                </div>
                <div class="learn-more__button">
                    <a href="about-course.html#aboutCourse" class="button__primary">Информация о курсе</a>
                </div>
                <div class="learn-more__item">
                    <div class="learn-more__scroll-down">
                        <div class="learn-more__arrow"></div>
                        <div class="learn-more__text">
                            <span>или</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>