mixin leave()
    <section class="leave" id="leave">
        <h2 class="leave__title">ОСТАВИТЬ ЗАЯВКУ</h2>
        <div class="leave__container">
            <div class="decoration-course-first">
                <img src="img/about-course-decoration-1.png" alt="">
            </div>
            <div class="leave__content">
                <div class="leave__list"> 
                    <div class="leave__link leave_active">
                        <a href="#recording">
                            <span class="leave__item">Оставь заявку</span>
                            <p class="leave__text">на прохождение курса или запишись на открытый урок.</p>
                            <img src="img/leave-arrow.svg" alt="" draggable="false">
                        </a>
                    </div>
                    <div class="leave__link leave_active">
                        <a href="#trainingProgram">
                            <span class="leave__item">Оставь заявку</span>
                            <p class="leave__text"><span>Пройди обучение.</span> <br> Тебя будут обучать профессиональные трейдеры с опытом торговли на бирже более 7 лет.</p>
                            <img src="img/leave-arrow.svg" alt="" draggable="false">
                        </a>
                    </div>
                    <div class="leave__link leave_active">
                        <a href="#privilege">
                            <span class="leave__item">Оставь заявку</span>
                            <p class="leave__text"><span>Сдай экзамен лучше всех </span>и получи уникальную возможность бесплатно торговать на бирже без вложений своих денег.</p>
                            <img src="img/leave-arrow.svg" alt="" draggable="false">
                        </a>
                    </div>
                </div>
            </div>
            <div class="decoration-course-third decoration">
                <img src="img/about-course-decoration-3.png" alt="" draggable="false">
            </div>
        </div>
    </section>