mixin license()
    <section class="license" id="license">
        <div class="container">
            <div class="license__even">
                <div class="license__title">
                    <h2 class="main-title">Страховой номер <br> и номер <span>лицензии</span></h2>
                </div>
                <div class="license__img sm">
                    <img src="img/license.png" alt="" draggable="false">
                </div>
                <div class="license__button">
                    <button class="button__primary" type="button">Лицензия (PDF)</button>
                </div>
            </div>
            <div class="license__odd">
                <div class="license__img">
                    <img src="img/license.png" alt="" draggable="false">
                </div>
            </div>
        </div>
    </section>