mixin percent-way()
    <section class="percent-way" id="percentWay">
        <div class="percent-way__container">
            <div class="percent-way__content">
                <div class="decoration-gradient-first">
                    <img src="img/decoration.png" alt="" draggable="false">
                </div>
                <div class="percent-way__list">
                    <div class="percent-way__item percent-way_active active">
                        <span>94 %</span>
                        <p>Людей не достигают желаемого результата в трейдинге!</p>
                    </div>
                    <div class="percent-way__item percent-way_active">
                        <span>94 %</span>
                        <p>Потому что верят, что это легко или относятся к этой профессии как к азартным играм.</p>
                    </div>
                    <div class="percent-way__item percent-way_active">
                        <span>94 %</span>
                        <p>Удача не покровитель торговли на бирже, а лишь оправдание людей, которые не имеют фундаментальных знаний.</p>
                    </div>
                </div>
            </div>
        </div> 
    </section>