mixin privilege()
    <section class="privilege" id="privilege">
        <div class="decoration-gradient-fourth">
            <img src="img/decoration.png" alt="" draggable="false">
        </div>
        <div class="container">
            <div class="privilege__title">
                <h2 class="main-title"><span>Привилегии</span> <br> для лучших студентов</h2>
            </div>
            <div class="privilege__list">
                <div class="privilege__item approved_item">
                    <img src="img/mark.png" alt="" draggable="false">
                    <p>Лучший студент получит возврат денежных средств за пройденное обучение.</p>
                </div>
                <div class="privilege__item approved_item">
                    <img src="img/mark.png" alt="" draggable="false">
                    <p>Лучший трейдер года окончивший наш курс, получит возможность отправиться в Европу и повысить&nbsp; квалификацию, за счет компании.</p>
                </div>
                <div class="privilege__item approved_item">
                    <img src="img/mark.png" alt="" draggable="false">
                    <p>Лучший студент получит возможность продолжить обучение в компании в течении года бесплатно, и получать практические знания торгуя под руководством менторов.</p>
                </div>
            </div>
        </div>
    </section>