mixin recording()
    <section class="recording" id="recording">
        <div class="container">
            <div class="recording__even">
                <div class="recording__price-title">
                    <h3>Стоимость<br>курса:</h3>
                </div>
                <div class="recording__price-num-sale">
                    <span>22 000 000 сум</span>
                </div>
            </div>
            <div class="recording__odd">
                <div class="recording__title">
                    <h2 class="main-title"><span>Записаться</span> на курс</h2>
                </div>
                <div class="recording__form">
                    <form class="form" action="">
                        <div class="form__col">
                            <label for="name" class="form-label">Полное Имя</label>
                            <input type="name" class="form-control" id="name" placeholder="Введите имя">
                        </div>
                        <div class="form__col">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Введите email">
                        </div>
                        <div class="form__col">
                            <label for="phone" class="form-label">Номер телефона</label>
                            <input type="phone" class="form-control" id="phone" placeholder="Введите номер">
                        </div>
                        <div class="form__button">
                            <button type="submit" class="button__primary">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>