mixin record()
    <section class="record">
        <div class="decoration-gradient-second">
            <img src="img/decoration.png" alt="" draggable="false">
        </div>
        <div class="record__container">
            <div class="record__even">
                <div class="record__img">
                    <img src="img/armchair.png" alt="" draggable="false">
                </div>
            </div>
            <div class="record__odd" id="record">
                <div class="record__title">
                    <h2 class="main-title">Запишитесь на
                        <span> открытый урок</span>
                    </h2>
                </div>
                <div class="record__subtitle">
                    <p>Я хочу узнать кто такие трейдеры и лично познакомиться со спикерами
                    </p>
                </div>
                <form action="" class="record__form">
                    <div class="form__col">
                        <span>Меня зовут</span>
                        <input type="text" class="form-control" placeholder="ваше имя">
                        <span>и это</span>
                    </div>
                    <div class="form__col">
                        <span>мой номер телефона</span>
                        <input type="text" class="form-control" placeholder="+998 9">
                    </div>
                    <div class="form__col">
                        <span>Так же, у меня есть электронная почта</span>
                    </div>
                    <div class="form__col">
                        <input type="text" class="form-control" placeholder="egororel2367@gmail.com">
                        <span>, чтобы </span>
                    </div>
                    <div class="form__col">
                        <span>отправить мне письмо.</span>
                    </div>
                    <div class="form__button">
                        <button class="button__primary" type="button">Отправить</button>
                    </div>
                </form>
                <form action="" class="record__sm">
                    label(for="recordName").record__sm-label Полное Имя
                    input(type="type" id="recordName" placeholder="Введите имя" required).record__sm-input 
                    label(for="recordEmail").record__sm-label Email 
                    input(type="email" id="recordEmail" placeholder="Введите email" required).record__sm-input 
                    label(for="recordPhone").record__sm-label Номер телефона
                    input(type="tel" id="recordPhone" placeholder="Введите номер" required).record__sm-input 
                    button(type="submit").record__sm-btn Отправить
                </form>
            </div>
        </div>
    </section>