mixin skills()
    <section class="expected-skills" id="expectedSkills">
        <div class="decoration-gradient-bg expected-skills-bg">
            <img class="expected-skills-bg-primary" src="img/decoration.png" alt="">
            <img class="expected-skills-bg-white" src="img/decoration-white.png" alt="">
        </div>
        <div class="container">
            <div class="expected-skills__title">
                <h2 class="main-title">Чему вы <span>научитесь</span> <br> по окончанию курса? </h2>
            </div>
            <div class="expected-skills__list">
                <div class="expected-skills__item">
                    <div class="expected-skills__circle expected-skills__circle_1">
                        <div class="expected-skills__circle-num">
                            <span style="background-image: url(./img/texture-text-1.jpg)">01</span>
                        </div>
                        <div class="expected-skills__circle-title">
                            <span>Зарабатывать</span>
                        </div>
                        <div class="expected-skills__circle-text">
                            <span>На финансовых рынках</span>
                        </div>
                    </div>
                    <div class="expected-skills__info">
                        <div class="expected-skills__info-num">
                            <span>01</span>
                        </div>
                        <div class="expected-skills__info-title">
                            <span>Выстраивай Стратегии</span>
                        </div>
                        <div class="expected-skills__info-text">
                            <span>Чтобы сделать продукт запоминающимся, расставить его на&nbsp;полках магазинов недостаточно. Бизнесу нужен сильный бренд, который попадёт в&nbsp;сердце аудитории и&nbsp;сделает покупку осознанной. Прокачать бренд поможет один инструмент&nbsp;— бренд-стратегия.</span>
                        </div>
                    </div>
                </div>
                <div class="expected-skills__item">
                    <div class="expected-skills__circle expected-skills__circle_2">
                        <div class="expected-skills__circle-num">
                            <span style="background-image: url(./img/texture-text-2.jpg)">02</span>
                        </div>
                        <div class="expected-skills__circle-title">
                            <span>Выстраивать</span>
                        </div>
                        <div class="expected-skills__circle-text">
                            <span>работающие стратегии</span>
                        </div>
                    </div>
                    <div class="expected-skills__info">
                        <div class="expected-skills__info-num">
                            <span>02</span>
                        </div>
                        <div class="expected-skills__info-title">
                            <span>Выстраивай Стратегии</span>
                        </div>
                        <div class="expected-skills__info-text">
                            <span>Чтобы сделать продукт запоминающимся, расставить его на&nbsp;полках магазинов недостаточно. Бизнесу нужен сильный бренд, который попадёт в&nbsp;сердце аудитории и&nbsp;сделает покупку осознанной. Прокачать бренд поможет один инструмент&nbsp;— бренд-стратегия.</span>
                        </div>
                    </div>
                </div>
                <div class="expected-skills__item">
                    <div class="expected-skills__circle expected-skills__circle_3">
                        <div class="expected-skills__circle-num">
                            <span style="background-image: url(./img/texture-text-3.jpg)">03</span>
                        </div>
                        <div class="expected-skills__circle-title">
                            <span>Правильно</span>
                        </div>
                        <div class="expected-skills__circle-text">
                            <span>использовать новостной фон</span>
                        </div>
                    </div>
                    <div class="expected-skills__info">
                        <div class="expected-skills__info-num">
                            <span>03</span>
                        </div>
                        <div class="expected-skills__info-title">
                            <span>Выстраивай Стратегии</span>
                        </div>
                        <div class="expected-skills__info-text">
                            <span>Чтобы сделать продукт запоминающимся, расставить его на&nbsp;полках магазинов недостаточно. Бизнесу нужен сильный бренд, который попадёт в&nbsp;сердце аудитории и&nbsp;сделает покупку осознанной. Прокачать бренд поможет один инструмент&nbsp;— бренд-стратегия.</span>
                        </div>
                    </div>
                </div>
                <div class="expected-skills__item">
                    <div class="expected-skills__circle expected-skills__circle_4">
                        <div class="expected-skills__circle-num">
                            <span style="background-image: url(./img/texture-text-3.jpg)">04</span>
                        </div>
                        <div class="expected-skills__circle-title">
                            <span>Анализировать</span>
                        </div>
                        <div class="expected-skills__circle-text">
                            <span>изменение цены финансовых инструментов</span>
                        </div>
                    </div>
                    <div class="expected-skills__info">
                        <div class="expected-skills__info-num">
                            <span>04</span>
                        </div>
                        <div class="expected-skills__info-title">
                            <span>Выстраивай Стратегии</span>
                        </div>
                        <div class="expected-skills__info-text">
                            <span>Чтобы сделать продукт запоминающимся, расставить его на&nbsp;полках магазинов недостаточно. Бизнесу нужен сильный бренд, который попадёт в&nbsp;сердце аудитории и&nbsp;сделает покупку осознанной. Прокачать бренд поможет один инструмент&nbsp;— бренд-стратегия.</span>
                        </div>
                    </div>
                </div>
                <div class="expected-skills__item">
                    <div class="expected-skills__circle expected-skills__circle_5">
                        <div class="expected-skills__circle-num">
                            <span style="background-image: url(./img/texture-text-2.jpg)">05</span>
                        </div>
                        <div class="expected-skills__circle-title">
                            <span>Анализировать</span>
                        </div>
                        <div class="expected-skills__circle-text">
                            <span>изменение цены финансовых инструментов</span>
                        </div>
                    </div>
                    <div class="expected-skills__info">
                        <div class="expected-skills__info-num">
                            <span>05</span>
                        </div>
                        <div class="expected-skills__info-title">
                            <span>Выстраивай Стратегии</span>
                        </div>
                        <div class="expected-skills__info-text">
                            <span>Чтобы сделать продукт запоминающимся, расставить его на&nbsp;полках магазинов недостаточно. Бизнесу нужен сильный бренд, который попадёт в&nbsp;сердце аудитории и&nbsp;сделает покупку осознанной. Прокачать бренд поможет один инструмент&nbsp;— бренд-стратегия.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>