mixin speakers()
    <section class="speakers" id="speakers">
        <div class="container">
            <div class="speakers__title">
                <h2 class="main-title">спикеры</h2>
            </div>
            <div class="speakers__swiper swiper swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress">
                <div class="speakers__swiper-wrapper swiper-wrapper" style="cursor: grab; transform: translate3d(0px, 0px, 0px);">
                    <div class="speakers__swiper-slide swiper-slide swiper-slide-visible swiper-slide-active" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1); z-index: 1;">
                        <img src="img/speacer-1.png" alt="">
                        <div class="speakers__about">
                            <span class="speakers__title">ДОНИЕР</span>
                            <p class="speakers__text">Cпикер курса <br>Профессионал дей-трейдинга и технического анализа.</p>
                            <p class="speakers__more-info">Закончил бакалавриат факультета экономики и финансов в Международном Вестминстерском университете Ташкента. К выбору трейдинга в качестве карьеры шёл ещё с 13 лет, открыв первый демо-счёт на Forex. В 2015 году во время учёбы на 3-м курсе узнал про закрытое тестирование в зарубежную компанию, успешно прошёл отбор и обучение, в результате чего сдал экзамены и устроился на работу в 2016 году. Первый доход появился через 10 месяцев в 2017 году и с тех пор увеличился в 10 раз.<br><br>В начале карьеры проходил внутренние курсы от компании, обучался по специализированной литературе и на собственном опыте. Также для повышения квалификации посещал Россию, Казахстан, Украину и США, что пробудило любовь к путешествиям. Специализируется на дей-трейдинге. Имеет титул кандидата в мастера спорта по гимнастике и чёрный пояс по тхэквандо.<br><br>В преподавание пришёл по просьбе коллеги в помощи, а в результате стал ключевым спикером группы и успешно обучил несколько десятков человек, в настоящий момент активно осваивающих торговую фондовую биржу. <br><br>«Трейдинг — это фундаментальное знание, изучение которого поможет сберечь свои инвестиции от инфляции. Эта работа не признаёт лимитов. Здесь всё зависит только от трудолюбия, упорства и роста над собой.»</p>
                            <button class="speakers__btn popup-open" data-target="#speaker">Подробнее</button>
                            <span class="speakers__text-bg">Дониер</span>
                        </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 0;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
                    <div class="speakers__swiper-slide swiper-slide swiper-slide-next" style="transform: translate3d(0px, 0px, -2000px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -1;">
                        <img src="img/speacer-2.png" alt="">
                        <div class="speakers__about">
                            <span class="speakers__title">ЖАМШИД</span>
                            <p class="speakers__text">Cпикер курса <br>Профессионал дей-трейдинга и технического анализа.</p>
                            <p class="speakers__more-info">Закончил бакалавриат факультета экономики и финансов в Международном Вестминстерском университете Ташкента. К выбору трейдинга в качестве карьеры шёл ещё с 13 лет, открыв первый демо-счёт на Forex. В 2015 году во время учёбы на 3-м курсе узнал про закрытое тестирование в зарубежную компанию, успешно прошёл отбор и обучение, в результате чего сдал экзамены и устроился на работу в 2016 году. Первый доход появился через 10 месяцев в 2017 году и с тех пор увеличился в 10 раз.<br><br>В начале карьеры проходил внутренние курсы от компании, обучался по специализированной литературе и на собственном опыте. Также для повышения квалификации посещал Россию, Казахстан, Украину и США, что пробудило любовь к путешествиям. Специализируется на дей-трейдинге. Имеет титул кандидата в мастера спорта по гимнастике и чёрный пояс по тхэквандо.<br><br>В преподавание пришёл по просьбе коллеги в помощи, а в результате стал ключевым спикером группы и успешно обучил несколько десятков человек, в настоящий момент активно осваивающих торговую фондовую биржу. <br><br>«Трейдинг — это фундаментальное знание, изучение которого поможет сберечь свои инвестиции от инфляции. Эта работа не признаёт лимитов. Здесь всё зависит только от трудолюбия, упорства и роста над собой.»</p>
                            <button class="speakers__btn popup-open" data-target="#speaker">Подробнее</button>
                            <span class="speakers__text-bg">Жамшид</span>
                        </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 0;"></div><div class="swiper-slide-shadow-right" style="opacity: 2;"></div></div>
                    <div class="speakers__swiper-slide swiper-slide" style="transform: translate3d(0px, 0px, -4000px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -3;">
                        <img src="img/speacer-3.png" alt="">
                        <div class="speakers__about">
                            <span class="speakers__title">ИВАН</span>
                            <p class="speakers__text">Cпикер курса <br>Профессионал дей-трейдинга и технического анализа.</p>
                            <p class="speakers__more-info">Закончил бакалавриат факультета экономики и финансов в Международном Вестминстерском университете Ташкента. К выбору трейдинга в качестве карьеры шёл ещё с 13 лет, открыв первый демо-счёт на Forex. В 2015 году во время учёбы на 3-м курсе узнал про закрытое тестирование в зарубежную компанию, успешно прошёл отбор и обучение, в результате чего сдал экзамены и устроился на работу в 2016 году. Первый доход появился через 10 месяцев в 2017 году и с тех пор увеличился в 10 раз.<br><br>В начале карьеры проходил внутренние курсы от компании, обучался по специализированной литературе и на собственном опыте. Также для повышения квалификации посещал Россию, Казахстан, Украину и США, что пробудило любовь к путешествиям. Специализируется на дей-трейдинге. Имеет титул кандидата в мастера спорта по гимнастике и чёрный пояс по тхэквандо.<br><br>В преподавание пришёл по просьбе коллеги в помощи, а в результате стал ключевым спикером группы и успешно обучил несколько десятков человек, в настоящий момент активно осваивающих торговую фондовую биржу. <br><br>«Трейдинг — это фундаментальное знание, изучение которого поможет сберечь свои инвестиции от инфляции. Эта работа не признаёт лимитов. Здесь всё зависит только от трудолюбия, упорства и роста над собой.»</p>
                            <button class="speakers__btn popup-open" data-target="#speaker">Подробнее</button>
                            <span class="speakers__text-bg">Иван</span>
                        </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 0;"></div><div class="swiper-slide-shadow-right" style="opacity: 4;"></div></div>
                </div>
                <div class="speakers__swiper-pagination swiper-pagination"></div>
            </div>
        </div>
    </section>
    .speakers-popup.popup#speaker
        .speakers-popup__overlay.popup-close 
        .speakers-popup__body 
            button(type="button").speakers-popup__close.popup-close
                <svg width="58" height="57" viewBox="0 0 58 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="29" width="40" height="40" rx="20" transform="rotate(45 29 0)" fill="#100D0F"/>
                <g clip-path="url(#clip0_1129_993)">
                <path d="M21.2227 20.5059L36.779 36.0622" stroke="white" stroke-width="2" stroke-linecap="square"/>
                <path d="M36.7773 20.5059L21.221 36.0622" stroke="white" stroke-width="2" stroke-linecap="square"/>
                </g>
                <defs>
                <clipPath id="clip0_1129_993">
                <rect width="24" height="24" fill="white" transform="translate(29 11.3145) rotate(45)"/>
                </clipPath>
                </defs>
                </svg>
            .speakers-popup__left
                .speakers-popup__img 
                    .speakers-popup__img-content
                        img(src="@img/speacer-1.png", alt="" draggable="false")
                .speakers-popup__navigation
                    button.speakers-popup__btn.speakers-popup__prev 
                        <svg width="43" height="19" viewBox="0 0 43 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M42.3086 9.523H2.30859M2.30859 9.523L18.0048 1.21484M2.30859 9.523L18.0048 17.9313" stroke="white" stroke-width="1.39303"/>
                        </svg>
                    .speakers-popup__pagination 
                    button.speakers-popup__btn.speakers-popup__next 
                        <svg width="43" height="19" viewBox="0 0 43 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.642578 9.523H40.6426M40.6426 9.523L24.9464 1.21484M40.6426 9.523L24.9464 17.9313" stroke="white" stroke-width="1.39303"/>
                        </svg>
            .speakers-popup__content
                p.speakers-popup__title ДОНИЕР
                .speakers-popup__view
                    .speakers-popup__wrap 
                        p.speakers-popup__p Закончил бакалавриат факультета экономики и финансов в Международном Вестминстерском университете Ташкента. К выбору трейдинга в качестве карьеры шёл ещё с 13 лет, открыв первый демо-счёт на Forex. В 2015 году во время учёбы на 3-м курсе узнал про закрытое тестирование в зарубежную компанию, успешно прошёл отбор и обучение, в результате чего сдал экзамены и устроился на работу в 2016 году. Первый доход появился через 10 месяцев в 2017 году и с тех пор увеличился в 10 раз.<br><br>В начале карьеры проходил внутренние курсы от компании, обучался по специализированной литературе и на собственном опыте. Также для повышения квалификации посещал Россию, Казахстан, Украину и США, что пробудило любовь к путешествиям. Специализируется на дей-трейдинге. Имеет титул кандидата в мастера спорта по гимнастике и чёрный пояс по тхэквандо.<br><br>В преподавание пришёл по просьбе коллеги в помощи, а в результате стал ключевым спикером группы и успешно обучил несколько десятков человек, в настоящий момент активно осваивающих торговую фондовую биржу. <br><br>«Трейдинг — это фундаментальное знание, изучение которого поможет сберечь свои инвестиции от инфляции. Эта работа не признаёт лимитов. Здесь всё зависит только от трудолюбия, упорства и роста над собой.»
