mixin speakers()
    <section class="speakers" id="speakers">
        <div class="container">
            <div class="speakers__title">
                <h2 class="main-title">спикеры</h2>
            </div>
            <div class="speakers__swiper swiper swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress">
                <div class="speakers__swiper-wrapper swiper-wrapper" style="cursor: grab; transform: translate3d(0px, 0px, 0px);">
                    <div class="speakers__swiper-slide swiper-slide swiper-slide-visible swiper-slide-active" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1); z-index: 1;">
                        <img src="img/speacer-1.png" alt="">
                        <div class="speakers__about">
                            <span class="speakers__title">
                                ДОНИЕР
                            </span>
                            <p class="speakers__text">Cпикер курса <br>Профессионал дей-трейдинга и технического анализа.</p>
                            <span class="speakers__text-bg">Дониер</span>
                        </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 0;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
                    <div class="speakers__swiper-slide swiper-slide swiper-slide-next" style="transform: translate3d(0px, 0px, -2000px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -1;">
                        <img src="img/speacer-2.png" alt="">
                        <div class="speakers__about">
                            <span class="speakers__title">
                                ДОНИЕР
                            </span>
                            <p class="speakers__text">Cпикер курса <br>Профессионал дей-трейдинга и технического анализа.</p>
                            <span class="speakers__text-bg">Дониер</span>
                        </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 0;"></div><div class="swiper-slide-shadow-right" style="opacity: 2;"></div></div>
                    <div class="speakers__swiper-slide swiper-slide" style="transform: translate3d(0px, 0px, -4000px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -3;">
                        <img src="img/speacer-3.png" alt="">
                        <div class="speakers__about">
                            <span class="speakers__title">
                                ДОНИЕР
                            </span>
                            <p class="speakers__text">Cпикер курса <br>Профессионал дей-трейдинга и технического анализа.</p>
                            <span class="speakers__text-bg">Дониер</span>
                        </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 0;"></div><div class="swiper-slide-shadow-right" style="opacity: 4;"></div></div>
                    <div class="speakers__swiper-slide swiper-slide" style="transform: translate3d(0px, 0px, -6000px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -5;">
                        <img src="img/speacer-1.png" alt="">
                        <div class="speakers__about">
                            <span class="speakers__title">
                                ДОНИЕР
                            </span>
                            <p class="speakers__text">Cпикер курса <br>Профессионал дей-трейдинга и технического анализа.</p>
                            <span class="speakers__text-bg">Дониер</span>
                        </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 0;"></div><div class="swiper-slide-shadow-right" style="opacity: 6;"></div></div>
                    <div class="speakers__swiper-slide swiper-slide" style="transform: translate3d(0px, 0px, -8000px) rotateX(0deg) rotateY(0deg) scale(1); z-index: -7;">
                        <img src="img/speacer-2.png" alt="">
                        <div class="speakers__about">
                            <span class="speakers__title">
                                ДОНИЕР
                            </span>
                            <p class="speakers__text">Cпикер курса <br>Профессионал дей-трейдинга и технического анализа.</p>
                            <span class="speakers__text-bg">Дониер</span>
                        </div>
                    <div class="swiper-slide-shadow-left" style="opacity: 0;"></div><div class="swiper-slide-shadow-right" style="opacity: 8;"></div></div>
                </div>
                <div class="speakers__swiper-pagination swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
            </div>
        </div>
    </section>