// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    @extend GolosTextRegular;
	scroll-behavior: smooth;
    &:focus,
    &:active{
        outline: none;
    }

	&::-webkit-scrollbar {
		width: 8px;
	}
	
	&::-webkit-scrollbar-track {
		background: #fafafa;
	}
	
	&::-webkit-scrollbar-thumb {
		border: 0px solid #fafafa;
		background: linear-gradient(180deg, #FF0000 -6.04%, #310000 139.01%);
	}
}
html,
body{
    height: 100%;
}
body{
    background: $black;
    color: #fff;
	width: 100%;
	overflow-x: hidden;
	background: #0c0c0e;
}
.popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	isolation: isolate;
	transition: 300ms ease-out;
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 7000;
	&.active{
		opacity: 1;
		visibility: visible;
	}
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
	width: 100%;
    .main{
        flex: 1 1 auto;
		width: 100%;
		overflow: hidden;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.main-title {
	font-size: 64px;
	line-height: 74px;
	text-transform: uppercase;
	text-align: left;
	@extend CirceBold;
	@include media(1200){
		font-size: 56px;
		line-height: 120%;
	}
	@include media(576){
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-size: 28px;
		line-height: 41px;
	}
	span {
		@extend CirceBold;
		color: $primary;
	}
}
.decoration-first {
	position: absolute;
	bottom: -30%;
	right: 10%;
	z-index: -1;
    pointer-events: none;
}
.decoration-second {
	position: absolute;
	bottom: 10%;
	left: -20%;
	z-index: -1;
    pointer-events: none;
}
.decoration-third {
	position: absolute;
	bottom: -25%;
	left: 30%;
	z-index: -1;
    pointer-events: none;
}
.decoration-gradient-first {
	position: absolute;
	top: -145%;
	left: -80%;
	z-index: 1;
    pointer-events: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.decoration-gradient-second {
	position: absolute;
	left: -10%;
	top: -30%;
	z-index: -1;
	width: 200%;
	height: 200%;
    pointer-events: none;
	@include media(992){
		top: -20%;
	}
	@include media(576){
		display: none;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.decoration-gradient-third {
	position: absolute;
	right: -90%;
	top: -80%;
	z-index: -1;
    pointer-events: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.decoration-gradient-fourth {
	position: absolute;
	left: -90%;
	bottom: -150%;
	z-index: -1;
	opacity: 0.5;
    pointer-events: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.decoration-course-first {
	position: absolute;
	top: 35%;
	left: 0%;
	z-index: -1;
    pointer-events: none;
}
.decoration-course-second {
	position: absolute;
	bottom: 0;
	right: 10%;
	z-index: -3;
    pointer-events: none;
	img {
		width: 50%;
		height: 100%;
		object-fit: cover;
	}
}
.decoration-course-third {
	position: absolute;
	bottom: 0;
	right: 20%;
	z-index: -1;
    pointer-events: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.decoration-course-fourth {
	position: absolute;
	top: 40%;
	right: 15%;
	z-index: -1;
    pointer-events: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
@keyframes elasticus {
    0% {
        transform-origin: 0% 0%;
        transform: scale(1, 0);
    }

    50% {
        transform-origin: 0% 0%;
        transform: scale(1, 1);
    }

    50.1% {
        transform-origin: 0% 100%;
        transform: scale(1, 1);
    }

    100% {
        transform-origin: 0% 100%;
        transform: scale(1, 0);
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}