// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    @extend GolosTextRegular;
	scroll-behavior: smooth;
    &:focus,
    &:active{
        outline: none;
    }

	&::-webkit-scrollbar {
		width: 8px;
	}
	
	&::-webkit-scrollbar-track {
		background: #fafafa;
	}
	
	&::-webkit-scrollbar-thumb {
		border: 0px solid #fafafa;
		background: linear-gradient(180deg, #FF0000 -6.04%, #310000 139.01%);
	}
}
html,
body{
    height: 100%;
}
body{
    background: $black;
    color: #fff;
	width: 100%;
	overflow-x: hidden;
	background: #0c0c0e;
}
.popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	isolation: isolate;
	transition: 300ms ease-out;
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 7000;
	&.active{
		opacity: 1;
		visibility: visible;
	}
	&__overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #00000090;
		z-index: -1;
	}
	&__body{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #000;
		position: relative;
		padding: 100px;
		max-width: 1440px;
		width: max-content;
		max-height: 80%;
		height: max-content;
		gap: 100px;
		isolation: isolate;
		@include media(1470){
			max-width: calc(100% - 40px);
		}
		@include media(1200){
			gap: 50px;
		}
		@include media(992){
			padding: 60px 30px 40px 30px;
		}
	}
	&__close{
		position: absolute;
		top: -12px;
		right: -12px;
	}
	&__left{
		max-width: 50%;
		img{
			width: 100%;
		}
		@include media(1200){
			max-width: 40%;
		}
		@include media(992){
			position: absolute;
			z-index: -1;
			top: 0;
			height: 200px;
			width: calc(100% - 60px);
			max-width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #00000090;
				filter: blur(2px);
				z-index: 1;
			}
			img{
				height: 100%;
				width: auto;
			}
		}
	}
	&__img{
		@include media(992){
			height: 70%;
		}
	}
	&__right{
		max-width: 50%;
		display: flex;
		flex-direction: column;
		@include media(1200){
			max-width: 60%;
		}
		@include media(992){
			max-width: 100%;
		}
	}
	&__title{
		font-weight: 700;
		font-size: 42px;
		line-height: 47px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 60px;
		@include media(1200){
			font-size: 32px;
			line-height: 120%;
			margin-bottom: 40px;
		}
		@include media(992){
			text-align: center;
			margin-bottom: 70px;
			font-size: 25.6887px;
			line-height: 29px;
		}
		span{
			color: #FF0000;
		}		
	}
	&__label{
		font-weight: 700;
		font-size: 17px;
		line-height: 16px;
		letter-spacing: 0.198411px;
		color: #FFFFFF;
	}
	&__input{
		border: none;
		background: none;
		border-bottom: 0.620034px solid #D8D8D8;
		padding: 10px 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 40px;
		@include media(992){
			margin-bottom: 30px;
		}
	}
	&__btn{
		margin-top: 20px;
		width: 100%;
		padding: 13px 30px;
		font-weight: 700;
		font-size: 27.2432px;
		line-height: 40px;
		background: linear-gradient(180deg, #FF0000 -6.04%, #310000 139.01%);
		color: #FFFFFF;
		@include media(1200){
			margin-top: 0px;
		}	
		@include media(992){
			font-weight: 700;
			font-size: 18px;
			line-height: 27px;
			padding: 14px;
		}	
	}
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
	width: 100%;
    .main{
        flex: 1 1 auto;
		width: 100%;
		overflow: hidden;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.main-title {
	font-size: 64px;
	line-height: 74px;
	text-transform: uppercase;
	text-align: left;
	@extend CirceBold;
	@include media(1200){
		font-size: 56px;
		line-height: 120%;
	}
	@include media(576){
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-size: 28px;
		line-height: 41px;
	}
	span {
		@extend CirceBold;
		color: $primary;
	}
}
.decoration-first {
	position: absolute;
	bottom: -30%;
	right: 10%;
	z-index: -1;
    pointer-events: none;
}
.decoration-second {
	position: absolute;
	bottom: 10%;
	left: -20%;
	z-index: -1;
    pointer-events: none;
}
.decoration-third {
	position: absolute;
	bottom: -25%;
	left: 30%;
	z-index: -1;
    pointer-events: none;
}
.decoration-gradient-first {
	position: absolute;
	top: -145%;
	left: -80%;
	z-index: 1;
    pointer-events: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.decoration-gradient-second {
	position: absolute;
	left: -10%;
	top: -30%;
	z-index: -1;
	width: 200%;
	height: 200%;
    pointer-events: none;
	@include media(992){
		top: -20%;
	}
	@include media(576){
		display: none;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.decoration-gradient-third {
	position: absolute;
	right: -90%;
	top: -80%;
	z-index: -1;
    pointer-events: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.decoration-gradient-fourth {
	position: absolute;
	left: -90%;
	bottom: -150%;
	z-index: -1;
	opacity: 0.5;
    pointer-events: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.decoration-course-first {
	position: absolute;
	top: 35%;
	left: 0%;
	z-index: -1;
    pointer-events: none;
}
.decoration-course-second {
	position: absolute;
	bottom: 0;
	right: 10%;
	z-index: -3;
    pointer-events: none;
	img {
		width: 50%;
		height: 100%;
		object-fit: cover;
	}
}
.decoration-course-third {
	position: absolute;
	bottom: 0;
	right: 20%;
	z-index: -1;
    pointer-events: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.decoration-course-fourth {
	position: absolute;
	top: 40%;
	right: 15%;
	z-index: -1;
    pointer-events: none;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
@keyframes elasticus {
    0% {
        transform-origin: 0% 0%;
        transform: scale(1, 0);
    }

    50% {
        transform-origin: 0% 0%;
        transform: scale(1, 1);
    }

    50.1% {
        transform-origin: 0% 100%;
        transform: scale(1, 1);
    }

    100% {
        transform-origin: 0% 100%;
        transform: scale(1, 0);
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}