doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title SigOne
    body.about-page
        .wrapper
            include components/header
            +header
            main.main
                include components/course-banner
                +course-banner
                include components/leave
                +leave
                include components/about-secondary
                +about-secondary
                include components/about-course
                +about-course
                include components/advantages
                +advantages
                include components/privilege
                +privilege
                include components/speakers
                +speakers
                include components/training
                +training
                include components/skills
                +skills
                include components/education
                +education
            include components/footer
            +footer
        script(src="js/app.min.js")